body {
    font-family: sans-serif;
    background: #545454;
    padding: 0%;
    margin: 0%;
  }
  
  canvas {
    background: #252525;
    margin-left: 25px;
    margin-top: 25px;
    border: 1px solid black;
  }
  